body {
  //width: 1920px;
}

//---Header ----------------------------------------

.header {
  //width: 1920px;
  background-image: url("../../img/start-screen-gradient-background.png");
}

.container-header {
  display: flex;

  .header-logo {
    border: 1px solid antiquewhite;
  }

  .header-nav-menu {
    ul {
      display: flex;
      list-style: none;
      border: 1px solid aqua;
    }

    ul li {
      padding-left: 10px;
    }
  }

}

.container-header-main {
  display: flex;

  .info-header {
    border: 1px solid blue;
  }

  .img-start-screen-puppy {
    border: 1px solid aqua;

    img {
      width: 698px;
      height: 728px;
    }
  }
}

//----Not only---------------------------------------

.container-not-only {
  display: flex;

  .img-about-pet {
    border: 1px solid black;
  }

  .info-not-only {
    border: 1px solid blueviolet;
  }

}

//----About---------------------------------------
.container-about {

  .header-about {
    border: 1px solid brown;
  }

  .main-about {
    display: flex;
    border: 1px solid crimson;

    .cards-about {
      display: flex;
      border: 1px solid darkorange;
    }
  }

  .btn-about {
    border: 1px solid darkgreen;
  }
}


//----HELP---------------------------------------
.container-help {
  .header-help {
    border: 1px solid blue;
  }

  .cards-list-1 {
    display: flex;
    border: 1px solid darkgreen;
  }

  .cards-list-2 {
    display: flex;
    border: 1px solid crimson;
  }
}


//----IN ADDITION---------------------------------------
.container-in-addition {
  display: flex;
  border: 1px solid brown;

  .img-donation-dog {
    border: 1px solid blue;

  }

  .info-in-addition {
    border: 1px solid darkcyan;

    .card-in-addition {
      border: 1px solid deeppink;

      display: flex;
    }
  }
}

//----Footer---------------------------------------
.container-footer {
  display: flex;

  .info-block-left {
    border: 1px solid deeppink;

    .card-footer {
      display: flex;
    }
  }

  .info-block-center {
    border: 1px solid green;

    .card-footer {
      display: flex;
    }
  }

  .img-footer-puppy {
    border: 1px solid aqua;
  }

}

